html, body, #root {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.app-content {
  flex: 1;
}

.footerDiv {
  background-color: #131313; 
  padding: 1.5rem 0;
  text-align: center;
}
